@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* ------------------- */
/* Resets              */
/* ------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------------------- */
/* Utility classes     */
/* ------------------- */

/* general */

.center-wrapper {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 100rem;
}

.center-wrapper-wide {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 120rem;
}

/* grid classes */

.two-column-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.three-column-grid__expand-one {
  display: grid;
  grid-template-columns: 1fr auto auto;
  padding: 5px 10px;
}

.three-column-grid__expand-two {
  display: grid;
  grid-template-columns: auto 1fr auto;
  padding: 5px 10px;
}

.three-column-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.place-items-center {
  place-items: center;
}

.responsive-card-grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding-inline: 2em;
}

/* ------------------- */
/* main styling        */
/* ------------------- */

/* general styling */

body {
  background-image: url(/assets/images/hero.jpg);
  font-family: poppins;
}

main {
  height: auto;
  padding: 3rem 0;
}

li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

header,
footer {
  background-color: #011434;
}

/* header styling */

header {
  position: sticky;
  top: 0;
}

.nav-list a {
  padding: 0 30px;
}

.profile-btn {
  background-color: #00df6b;
  padding: 5px 10px;
  border-radius: 5px;
}

/* logo styling */

.logo {
  height: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
}

.github,
.twitter {
  width: 35px;
  padding-left: 5px;
}

/* card styling */

.card {
  border: solid white 2px;
  border-radius: 15px;
  height: min-content;
}
.card-hero {
  background-image: url(/assets/images/boolean-laptop.jpg);
  height: 250px;
  background-size: cover;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  text-align: left;
  display: grid;
  justify-items: end;
}

.card-hero .logo {
  padding: 5px;
}

.card__content {
  font-size: 0.75rem;
  background-color: white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.card__content p {
  padding: 10px 40px 10px 10px;
}

/* profile styling */

.profile-text {
  background-color: white;
  padding: 3rem;
}

.profile-text p {
  margin: 40px;
}
.profile-img {
  background-image: url(/assets/images/boolean-laptop.jpg);
  background-size: cover;
}
